{% extends 'base_logged_in.html' %}

{% block content %}
<h1>
    Module: {{ module.title }}
</h1>

{% for content in contents %}
<h4>{{content.title}}</h4>
<p>{{ content.text|safe|escape }}</p>
{% endfor %}

{% block buttons %}
{% endblock buttons %}
{% if quiz %}
<a role="button" href="{% url 'quiz:detail' quiz.id %}"
   class="btn btn-primary">Go To Quiz
</a>
{% endif %}


{% endblock content %}

{% block content_left %}
<a role="button" href ="{% url 'course:course' course.id%}"
   class="btn btn-primary">Back to course
</a>

<div class="list-group">
{% for mod in modules_all %}
    {% if mod == module %}
    <a href="{% url 'course:module' course.id mod.id %}"
       class="list-group-item list-group-item-action active rounded-0">
        {{ mod.title }}</a>
    {% else %}
    <a href="{% url 'course:module' course.id mod.id %}"
       class="list-group-item list-group-item-action rounded-0">
        {{mod.title}}
    </a>
    {% endif %}
    {% endfor %}
</div>
{% endblock content_left %}
