<!doctype html>
<html>
    {% extends 'base_logged_in.html' %}
    {% load static %}

    {% block content %}
    <div class="card shadow p-1 my-5 " style="width:auto">
        <div class="card-body">
            <h5 class="card-title">{{ question.text}}</h5>
            <form method="post" class="card-text">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Submit">
        </div>
    </div>
    
    {% endblock content %}

    {% block content_left %}

    <div class="progress my-3 p-0.5" style="height: 25px;">
        <div class="progress-bar progress-bar-striped" role="progressbar"
             style="width:{{progress}}%"
             aria-valuenow="{{progress}}" aria-valuemin="0"
             aria-valuemax="100">
        </div>
    </div>

    {% for status_question in status_questions %}
    <div class="list-group">
        {% if question == status_question %}
        <a href="{% url 'quiz:question' quiz.id attempt_id status_question.id %}"
        class="list-group-item list-group-item-action active">
            Question {{ status_question.id }}</a>

        {% elif status_question.answered_bool == True %}
        <a href="{% url 'quiz:question' quiz.id attempt_id status_question.id %}"
           class="list-group-item list-group-item-action answered-button">
            Question {{ status_question.id }}</a>

        {% else %}
        <a href="{% url 'quiz:question' quiz.id attempt_id status_question.id %}"
           class="list-group-item list-group-item-action not-current-bt">
            Question {{ status_question.id }}</a>

        {% endif %}
    </div>
    {% endfor %}

        {% if question_attempt.submitted_bool == False %}
        {{question_attempt.start_time}}
        <div id="question_timer">
            <script type="text/javascript">
             var start_time="{{question_attempt.start_time.timestamp }}";
             var now = Date.now()/1000
             var diff = now - start_time
             
             $("#question_timer").countdown({since: -diff , format:'MS',
                                             description:'Time Taken'});
            </script>
        </div>
        {% endif %}
        
        {% if attempt.submitted_bool == False %}
        {{ attempt.start_time}}
        <div id="timer">
            
            <script type="text/javascript">
             var start_time = "{{ attempt.start_time.timestamp }}";
             var now = Date.now()/1000
             var diff = now - start_time
             
             $("#timer").countdown({since: -diff , format:'MS',
                                    description:'Total Time Taken'});
            </script>
        </div>
        {% endif %}

    {% endblock content_left %}

    {% block content_right %}

    {% endblock content_right %}

</html>
