<html>
    {% extends 'base.html' %}
    {% block content %}

    
    <div class="card shadow p-1 my-5 " style="width:auto">
        <div class="card-body">
            <h5 class="card-title">{{ question.text}}</h5>
            <form method="post" class="card-text">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Submit">

        </div>
    </div>
    {% endblock content %}

    {% block content_left %}
    <h5>{{quiz.title}} </h5>

    <div class="progress my-3 p-0.5" style="height: 25px;">
        <div class="progress-bar progress-bar-striped" role="progressbar"
             style="width:{{progress}}%"
             aria-valuenow="{{progress}}" aria-valuemin="0"
             aria-valuemax="100">
        </div>
    </div>

    {% for status_question in status_questions %}
    <div class="list-group">
        {% if question == status_question %}
        <a href="{% url 'quiz:question' quiz.id attempt_id status_question.id %}"
        class="list-group-item list-group-item-action active">
            Question {{ status_question.id }}</a>

        {% elif status_question.answered_bool == True %}
        <a href="{% url 'quiz:question' quiz.id attempt_id status_question.id %}"
           class="list-group-item list-group-item-action answered-button">
            Question {{ status_question.id }}</a>

        {% else %}
        <a href="{% url 'quiz:question' quiz.id attempt_id status_question.id %}"
           class="list-group-item list-group-item-action not-current-bt">
            Question {{ status_question.id }}</a>

        {% endif %}
    </div>
    {% endfor %}

    {% endblock content_left %}

</html>
