.answer_correct {
    color:green
}

.answer_false {
    color:red
}

.answered-button {
    background-color:lightblue
}

body {
    background-color: #3C5F6E;
}

.box_question {
    color:orange
}

.navbar-logo{
    color: $purple;
}
.navbar-custom{
    background-color: #87BDD4;
}

.content_container {
    flex: 1 0 auto;
    background-color: #C9E2ED;
}

.content_left {
    /* flex: 1 0 auto; */
    background-color: #6F9BAD;
}

.content_right {
    /* flex: 1 0 auto; */
    background-color: #F0BA9C;
}
.over-all{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.row {
    /* flex: 1 0 auto;
    display: flex;
    flex-direction: row; */
    width: 100vw;
}
.main{
    flex: 1 0 auto;
    display: flex;
    flex-direction: row;
}

.footer {
    height: 50px;
    flex-shrink: 0;
    background-color: #3C5F6E;
}

h1 {
    color:#C25100;
}

.navbar_link {
    /* width: 30px; */
    padding: 10px;
}

