<html>

    {% extends 'base_logged_in.html' %}
    {% load static %}
    {% block content %}
    <h1>
        Results from Quiz
    </h1>
    <body>
        Details on Results of Quiz
        {{quiz}}
        <p> Time Taken =
        {% if attempt.list_time_taken.hours != 0 %}
        {{ attempt.list_time_taken.hours }} hours
        {% endif %}
        {% if attempt.list_time_taken.minutes != 0 %}
        {{ attempt.list_time_taken.minutes }} minutes
        {% endif %}
        {% if attempt.list_time_taken.seconds != 0 %}
        {{ attempt.list_time_taken.seconds }} seconds
        {% endif %}
        </p>
        <p> Score = {{score}}%</p>
        {% for question in questions %}

        <div class="card my-5 shadow p-1" style="width:auto">
            <div class="card-body">
                <h5 class="card-title">{{ question.text}}</h5>
                {% for selected_answer in selected_answers %}
                {% if selected_answer.question == question %}
                <h6 class="card-subtitle">Your Selected Answer
                </h6>

                <div class="card-text">

                {% if selected_answer.correct_bool == True %}
                    <p class="answer_correct">Correct!</p>
                    <li class="answer_correct">{{selected_answer.text}}</li>
                {% endif %}

                {% if selected_answer.correct_bool == False %}
                    <p class="answer_false">Incorrect</p>
                    <li class="answer_false">{{selected_answer.text}}</li>
                {% endif %}

                <p>The Choices</p>
                {% for answer in answers %}
                {% if answer.question == question %}
                
                {% if answer.correct_bool == True %}
                <li><b>{{answer.text}}</b></li>
                {% else %}
                <li>{{answer.text}}</li>

                {% endif %}

                {% endif %}
                {% endfor %}
                </div>

                {% endif %}
                {% endfor %}

            </div>
        </div>
        {% endfor %}
        <a role="button" href="{% url 'users:dashboard' %}"
           class="btn btn-primary">Return to Dashboard
        </a>
    </body>
    {% endblock content %}
</html>
