<html>
    {% extends 'base_logged_in.html' %}
    {% load static %}
    {% block content %}
    <h1>
        Submit your answers
    </h1>
    <body>
        Details on Results of Quiz
        {{quiz}}
        {% for question in questions %}
        <div class="card my-5 shadow p-1" style="width:auto">
            <div class="card-body">
                <h5 class="card-title">{{ question.text}}</h5>
                {% for selected_answer in selected_answers %}
                {% if selected_answer.question == question %}
                <h6 class="card-subtitle">Your Selected Answer
                </h6>
                
                <li>{{selected_answer.text}}</li>
                <div class="card-text">

                <p>The Choices</p>
                {% for answer in answers %}
                {% if answer.question == question %}
                <li>{{answer.text}}</li>
                {% endif %}

                {% endfor %}
                </div>

                {% endif %}
                {% endfor %}

            </div>
        </div>
        {% endfor %}
        <form method="post" >
            {% csrf_token %}
            <button
               type="submit"
               class="btn btn-primary">{% csrf_token %}Submit Quiz
            </button>
        </form>
    </body>
    {% endblock content %}

    {% block content_left %}
    <h5>Questions</h5>

    <div class="progress my-3 p-0.5" style="height: 25px;">
        <div class="progress-bar progress-bar-striped" role="progressbar"
             style="width:{{progress}}%"
             aria-valuenow="{{progress}}" aria-valuemin="0"
             aria-valuemax="100">
        </div>
    </div>

    {% for status_question in questions %}
    {% if status_question.answered_bool == True %}
    <a href="{% url 'quiz:question' quiz.id attempt.user_attempt_no status_question.id %}"
       class="list-group-item list-group-item-action answered-button">
        Question {{ forloop.counter }}</a>
    {% else %}
    <div class="list-group">
        <a href="{% url 'quiz:question' quiz.id attempt.user_attempt_no status_question.id %}"
           class="list-group-item list-group-item-action">
            Question {{ forloop.counter }}</a>
    </div>
    {% endif %}
    {% endfor %}

    {% endblock content_left %}
    {% block content_right %}
    {% if attempt.submitted_bool == False %}
    <div id="timer">

        {{value|json_script:"start_time"}}
        <script type="text/javascript">

         var bob = "{{ attempt.start_time.timestamp }}";
         var start = Date.now()/1000
         var diff = start - bob

         $("#timer").countdown({since: -diff , format:'MS',
                                description:'Time Taken'});
        </script>
    </div>
    {% endif %}
    {% endblock content_right %}
</html>
