{% load static %}
<head>
    <title> Ogden Patent Bar Prep </title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href=" {% static 'js/css/jquery.countdown.css' %}">
    <script type="text/javascript" src= "{% static 'js/js/jquery.plugin.js' %}">

    </script>
    <script type="text/javascript"
            src="{% static 'js/js/jquery.countdown.js' %}"></script>
</head>

<nav class="navbar sticky-top navbar-expand-md navbar-light navbar-custom">
    <a class="navbar-brand text-dark" href="/">Ogden Prep</a>
    <div class="collapse navbar-collapse W-100 order-1 order-md-0 dual-collapse2"  id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                {% block navbar_left %}
                {% endblock navbar_left %}
            </li>
        </ul>
    </div>
    <div class="collapse navbar-collapse W-100 order-2 order-md-0 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                {% block navbar_right %}
                <a class ="navbar_link" href="{% url 'users:login' %}">
                    Login</a>
                <a class ="navbar_link" href="{% url 'users:signup' %}">
                    Signup</a>
                {% endblock navbar_right %}
            </li>
        </ul>
    </div>

</nav>

<div class="container-fluid content_container">
    <div class="row">
        <div class="col-md-3 col-lg-2 content_left">
            {% block content_left %}
            {% endblock content_left %}
        </div>

        <div class="col-md-9 col-lg-7 main_content">
            {% block content %}
            {% endblock content %}
        </div>

        <div class="col-lg-3 col-md-none d-none d-lg-block content_right">
            {% block content_right %}
            {% endblock content_right %}
        </div>
    </div>
</div>
<footer class="page-footer font-small blue pt-4">
    <div class="container-fluid text-center text-md-left">
        <div class="row">
            <div class="col-md-6 mt-md-0 mt-3">
                <h5>
                    Footer Content
                </h5>
            </div>
        </div>
    </div>
    <div class="footer-copyright text-center py-3">
        {% now "Y" as current_year %}
        Copyright {{ current_year }}
    </div>
</footer>
