{% extends 'base_logged_in.html' %}


{% block content %}
<h1>
    Results
</h1>
<table class="table">
    <thead>
        {% for result in navQuizResults %}
        <tr>
            <th>
                {% if result.list_time_taken.hours != 0 %}
                {{ result.list_time_taken.hours }} hours
                {% endif %}
                {% if result.list_time_taken.minutes != 0 %}
                {{ result.list_time_taken.minutes }} minutes
                {% endif %}
                {% if result.list_time_taken.seconds != 0 %}
                {{ result.list_time_taken.seconds }} seconds
                {% endif %}
            </th>
            <th>{{ result.score }}</th>
            <th><a class="link"
                   href="{% url 'navquiz:endQuiz' result.user_attempt_no %}">
                see details
            </a></th>
            <th>
                <div class="progress">
                    <div class="progress-bar" role="progressbar"
                         style="width: {{result.score}}%"
                         aria-valuenow="20" aria-valuemin="0"
                         aria-valuemax="100">
                    </div>
                </div>
            </th>
        </tr>
        {% endfor %}
    </thead>
</table>

{% endblock content %}
